html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #2C2F33;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

